*.o
*.out
*.o
*.exe
*.a
*.so
*.lo
*.la
*.dll
*.dylib
*.lib
*.lai
*.pdb
*.ilk
*.exp
*.idb
*.manifest
*.map
*.dep
*.d
*.def
*.mod
*.smod
*.ncb
*.suo
*.user
*.bak
*.aps
*.pch
*.vspscc
*.vssscc
*.bak
*.swp
*.swo
*.orig
*.rej
*.pyc
*.pyo
*.o.d
*.lo.d
*.pc
*.tar
*.tar.*
*.tgz
*.gz
*.bz2
*.xz
*.zip
*.7z
*.rar
*.cab
*.iso
*.bin
*.cue
*.mdf
*.mds
*.img
*.cc
*.dat
*.cln
*.sbr
*.bsc
*.ilk
*.msi
*.msp
*.msm
*.lnk
*.tlb
*.tlh
*.tli
*.obj
*.lib
*.exp
*.res
*.pch
*.idb
*.pdb
*.ipch
*.class
*.tlb
*.tlh
*.bak
*.ilk
*.meta
*.tmp
*.log
*.err
*.old
*.bak
*.aux
*.lof
*.lot
*.bit
*.bbl
*.blg
*.bib
*.fmt
*.sty
*.bst
*.cls
*.clo
*.def
*.dic
*.fd
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.xdy
*.fdb_latexmk
*.run.xml
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.toc
*.aux.bak
*.toc.bak
*.nav
*.snm
*.out
*.vrb
*.loa
*.lol
*.ent
*.fmt
*.idx
*.ind
*.ilg
*.ind.bak
*.ilg.bak
*.4ct
*.4tc
*.lg
*.xref
*.idv
*.dvi
*.bak
*.bak2
*.bak3
*.wrk
*.d
*.dep
*.make
*.inc
*.sh
*.csh
*.ksh
*.pl
*.bat
*.cmd
*.vbs
*.vbe
*.js
*.jse
*.wsf
*.wsh
*.msc
*.gmk
*.mak
.vscode
